<div id="sidebar" style="float: left;"></div>
<div id="content" style="float: right; width: 800px;"></div>

<script type="application/json" id="bootstrapped_post_data">
  <%= @posts.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function(){
    var posts = JSON.parse($("#bootstrapped_post_data").html());
    window.Journl.initialize($("#sidebar"), $("#content") ,posts);
  });
</script>